<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>blood_list</title>
    <link href="/takoson/css/blood_list.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="app">
      <h1 class="title_1">血壓測量記錄表 - {{dataBox.name}}</h1>
      <div class="content"> 
        <ul class="listBox"> 
          <li v-for="(el,j) in dataBox.list" :key="j"> <span class="time" v-cloak v-html="convertTime(el.time.seconds)"></span><span>{{el.low}}</span><span>{{el.high}}</span><span>{{el.heartbeat}}</span><b class="del" @click="delList(j)">一</b></li>
        </ul>
        <div class="addList center"> <b @click="openAddListBox">✚</b></div>
        <div class="addListBox" v-show="openAddBox"> 
          <div class="cloBg" @click="cloMe"></div>
          <h2>新增血壓紀錄</h2>
          <ul class="listFox"> 
            <li :class="pickMe==1?'pick':''" @click="pickMeBox(1)"> 
              <input type="text" v-model="newData.low">
            </li>
            <li :class="pickMe==2?'pick':''" @click="pickMeBox(2)"> 
              <input type="text" v-model="newData.high">
            </li>
            <li :class="pickMe==3?'pick':''" @click="pickMeBox(3)"> 
              <input type="text" v-model="newData.heartbeat">
            </li>
          </ul>
          <ul class="keyboard">
            <li v-for="ele in keyboardBox" :key="ele"> <b @click="addNumber(ele)">{{ele}}</b></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="/takoson/vendors/vue.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
  <script defer type="text/javascript" src="/takoson/js/blood_list.js"></script>
</html>